<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/avt"
        android:label="EcoPet"
        android:roundIcon="@mipmap/avt"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEcoPet"
        tools:targetApi="31">
        <activity
            android:name=".tour1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".confirmRegister"
            android:exported="false">
        </activity>
        <activity
            android:name=".dialogConfirmPhone"
            android:exported="false">
        </activity>
        <activity
            android:name=".dialogResetPassword"
            android:exported="false">/>
        </activity>
        <activity
            android:name=".forgotPassword"
            android:exported="false">
        </activity>
        <activity
            android:name=".login"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainScreen"
            android:exported="false">
        </activity>
        <activity
            android:name=".register"
            android:exported="false">
        </activity>
        <activity
            android:name=".resetPassword"
            android:exported="false">
        </activity>
        <activity
            android:name=".tour2"
            android:exported="false">
        </activity>
        <activity
            android:name=".tour3"
            android:exported="false">
        </activity>
        <activity
            android:name=".tour4"
            android:exported="false">
        </activity>
        <activity
            android:name=".Cart_Empty"
            android:exported="false">
        </activity>
        <activity
            android:name=".Cart_Full"
            android:exported="false">
        </activity>
        <activity
            android:name=".Feeds"
            android:exported="false">
        </activity>
        <activity
            android:name=".Follow_Order"
            android:exported="false">
        </activity>
        <activity
            android:name=".Input_Payment_Info"
            android:exported="false">
        </activity>
        <activity
            android:name=".MyFavorite"
            android:exported="false">
        </activity>
        <activity
            android:name=".MyVideos"
            android:exported="false">
        </activity>
        <activity
            android:name=".Order_Confirm"
            android:exported="false">
        </activity>
        <activity
            android:name=".Payment_Address"
            android:exported="false">
        </activity>
        <activity
            android:name=".Payment_Method"
            android:exported="false">
        </activity>
        <activity
            android:name=".caidatriengtu"
            android:exported="false">
        </activity>
        <activity
            android:name=".chinhsachbaomat"
            android:exported="false">
        </activity>
        <activity
            android:name=".DiaChi"
            android:exported="false">
        </activity>
        <activity
            android:name=".Profile"
            android:exported="false">
        </activity>
        <activity
            android:name=".Setting_Activity"
            android:exported="false">
        </activity>
        <activity
            android:name=".thong_bao"
            android:exported="false">
        </activity>
        <activity
            android:name=".xemdonhang"
            android:exported="false">
        </activity>
        <activity
            android:name=".ChitietSanPhamActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".DialogBoloc"
            android:exported="false">
        </activity>
        <activity
            android:name=".DichVuActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ShoppingActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>